{% include 'header.html.twig' %}

<div class="content-container">
  <div class="flex-container">
    <div class="text-content">
      <h1 class="text-3xl font-bold">Om Denna kuren</h1>
      <p> 
        Den här sidan utvecklades med användning av Symfony och Twig för kursen i objektorienterade webbteknologier vid Blekinge Tekniska Högskola (BTH). 
      </p>
    </div>
    <div class="image-container">
      <img src="{{ asset('img/symfony.png') }}" alt="symfony 7" style="width: 300px;">
    </div>
  </div>
</div>

{% include 'footer.html.twig' %}
