{% include 'header.html.twig' %}
<div class="main-container">

<ul class="menu bg-base-200 w-56 rounded-box ">
    <li>
        <details>
            <summary>Reports</summary>
            <ul>
                <li><a href="#kmom01">kmom01</a></li>
                <li><a href="#kmom02">kmom02</a></li>
                <li><a href="#kmom03">kmom03</a></li>
                <li><a href="#kmom04">kmom04</a></li>
                <li><a href="#kmom05">kmom05</a></li>
            </ul>
        </details>
    </li>
</ul>
<div id="kmom01" class="content-wrapper">
  
    <h1 class="text-3xl font-bold">kmom01</h1
    <p>Mina tidigare erfarenheter och förkunskaper inom objektorientering grundar sig främst i en introduktionskurs till programmering där Python var i fokus. Kursen täckte de grundläggande principerna för objektorienterad programmering, inklusive definition av klasser, skapande av objekt, och implementering av inkapsling och arv för att effektivisera kodstrukturen. Denna erfarenhet har lagt en bra grund för min förståelse av OOP, trots att jag är medveten om att varje programmeringsspråk har sina specifika egenskaper vad gäller objektorientering.
     <br>
     <br>
     När det kommer till PHP och dess modell för klasser och objekt, står jag inför utmaningen att lära mig från grunden. Viktiga koncept jag behöver förstå för att börja skapa klasser i PHP inkluderar klassdefinitionssyntax, instansiering av objekt, användning av konstruktorer. Att förstå principen är centralt för att kunna utveckla strukturerad och modulär kod.
     <br>
    <br>
    Jag värdesätter starkt användningen av ramverk i programutveckling då det främjar kodåteranvändning och förenklar underhåll. Ramverk reducerar behovet av att skriva kod från grunden genom att erbjuda förkonfigurerade moduler och funktioner, vilket effektiviserar utvecklingsprocessen och låter utvecklaren fokusera på applikationens unika funktioner. Denna metodik bidrar till en mer organiserad och lättförståelig kodbas.
     <br>
    <br>
    Med min begränsade erfarenhet av PHP ser jag "PHP The Right Way" som en viktig resurs för att lära mig om bästa praxis och moderna programmeringsstandarder. Jag är särskilt intresserad av att utforska områden som säkerhetspraxis, hantering av beroenden via Composer, samt tekniker för att skriva ren och effektiv kod. Det är avgörande för mig att tillägna mig kunskaper som gör det möjligt att skriva säker och välstrukturerad kod, och jag ser fram emot att tillämpa dessa insikter i framtida projekt.
     <br>
    <br>
    Slutligen, mitt mest betydelsefulla lärande från detta kursmoment är en fördjupad förståelse för användningen av klasser i PHP. Att lära mig om klasssyntax, hantering av objekt, samt användningen av arv och gränssnitt för att skapa flexibel och återanvändbar kod har varit särskilt berikande. Denna kunskap har inte bara utvidgat min förståelse för objektorienterad programmering utan har också förberett mig för mer avancerad programutveckling.
    </p>

</div>

<div id="kmom02" class="content-wrapper">
      
     <h1 class="text-3xl font-bold">kmom02</h1
     <p>kmom02 report goes here</p>

</div>


<div id="kmom03" class="content-wrapper">
      
     <h1 class="text-3xl font-bold">kmom03</h1
     <p>kmom03 report goes here</p>

</div>


<div id="kmom04" class="content-wrapper">
      
     <h1 class="text-3xl font-bold">kmom04</h1
     <p>kmom04 report goes here</p>

</div>


<div id="kmom05" class="content-wrapper">
      
     <h1 class="text-3xl font-bold">kmom05</h1
     <p>kmom05 report goes here</p>

</div>


</div>


{% include 'footer.html.twig' %}
